<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18321039315-970inhptcdbravahsclpmna88m5chvtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18321039315-970inhptcdbravahsclpmna88m5chvtv</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ffsNMqPzq6_RTk4RUPGc7hQYAZk4WKA</string>
	<key>GCM_SENDER_ID</key>
	<string>18321039315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mineo.jp.mac.pop.Re-Chat</string>
	<key>PROJECT_ID</key>
	<string>re-chat-b2a18</string>
	<key>STORAGE_BUCKET</key>
	<string>re-chat-b2a18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18321039315:ios:720dd3f4fbeaf218fd9926</string>
	<key>DATABASE_URL</key>
	<string>https://re-chat-b2a18.firebaseio.com</string>
</dict>
</plist>